img {
    width: 150px;
    height: 150px;
    background-color: aqua;
    /* alignment: center; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    


}
h1, h2 {
    background-color: #05696B;
}

body {
    background-color: aqua;
    font-family: cursive;
}
